<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Diabetes Detection</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='styles/style.css')}}"
		/>
	</head>
	<body>
		<!-- Nav bar -->
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">DiabetesDetection</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasNavbar"
					aria-controls="offcanvasNavbar"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="offcanvas offcanvas-end"
					tabindex="-1"
					id="offcanvasNavbar"
					aria-labelledby="offcanvasNavbarLabel"
				>
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">
							DiabetesDetection
						</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="offcanvas"
							aria-label="Close"
						></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/predict">Predict</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#about-us">About Us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<!-- Hero  -->

		<div class="px-4 text-center hero bg-hero wheat">
			<h1 class="display-5 fw-bold">Diabetes Detection</h1>
			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">
					A machine learning model designed to predict whether an individual is
					diabetic or not based on their medical data, such as glucose levels,
					blood pressure, and BMI. By analyzing these factors, the model
					provides valuable insights into the likelihood of diabetes, aiding in
					early diagnosis and proactive healthcare management.
				</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a
						role="button"
						class="btn btn-gold btn-lg px-4 gap-3"
						href="/predict"
					>
						Start
					</a>
				</div>
			</div>
		</div>

		<!-- Machine learning section -->
		<div class="text-center container-fluid machine-learning-section">
			<h1>
				<i>
					<img
						src="{{url_for('static', filename='images/MLicon.png')}}"
						alt="Machine Learning icon"
						class="machine-learning-icon" /></i
				>What is Machine Learning?
			</h1>
			<p class="col-lg-6 mx-auto">
				Machine learning is a branch of artificial intelligence (AI) that
				enables computers to learn and improve from experience without being
				explicitly programmed. Instead of relying on predefined rules and
				instructions, machine learning algorithms analyze data, identify
				patterns, and make predictions or decisions.
			</p>
		</div>

		<!-- About us section  -->
<!-- 		<div class="about-us container-fluid" id="about-us">
			<div class="text-center question">
				<h1>Want to know more About us?</h1>
			</div> -->

			<!-- Mohammad Asal  -->
			<!--<div class="person-section">
				<div class="row">
					<div class="col-md-6 text-center">
						<img
							class="profile-image"
							src="{{url_for('static', filename='images/asal.jpg')}}"
							alt="profile-image"
						/>
					</div>
					<div class="col-md-4" style="padding-top: 3%">
						<h2 class="text-center">Mohammad Asal</h2>
						A Junior Computer Science student passionate in Theory and Math,
						especially Machine Learning, Artificial Intelligence, and Data
						Science Theory. Got an A on Cp3. Seeking for an internship in DS,
						ML, and AI.
					</div>
				</div>
			</div> -->

			<!-- Tamer El Halabi -->

		<!--	<div class="person-section colored-section">
				<div class="row">
					<div class="col-md-6 order-md-5 text-center">
						<img
							style="height: 80%"
							class="profile-image"
							src="{{url_for('static', filename='images/Tamer.jpeg')}}"
							alt="Tamer's image"
						/>
					</div>
					<div
						class="col-md-4 paragraph-reversed order-md-1"
						style="padding-top: 3%"
					>
						<h2 class="text-center">Tamer El Halabi</h2>
						A dedicated computer science student and a continuous learner who is
						interested in Data Science and Machine Learning.
					</div>
				</div>
			</div> -->

			<!-- Ali Abdel Ghaffar -->

		<!--	<div class="person-section">
				<div class="row">
					<div class="col-md-6 text-center">
						<img
							style="height: 60%"
							class="profile-image"
							src="{{url_for('static', filename='images/Ali.jpeg')}}"
							alt="profile-image"
						/>
					</div>
					<div class="col-md-4" style="padding-top: 3%">
						<h2 class="text-center">Ali Abdel Ghaffar</h2>
						Junior Computer Science student at Lebanese American University.
						Studied web development alone, passionate in programming.
					</div>
				</div>
			</div>
		</div> -->

		<!-- footer -->
		<div class="container footer">
			<footer
				class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
			>
				<p class="col-md-4 mb-0">© 2024 DiabetesDetection, Inc</p>

				<a
					href="/"
					class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
				>
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap"></use>
					</svg>
				</a>

				<ul class="nav col-md-4 justify-content-end">
					<li class="nav-item">
						<a href="/" class="nav-link px-2">Home</a>
					</li>
					<li class="nav-item">
						<a href="/predict" class="nav-link px-2">Predict</a>
					</li>
					<li class="nav-item">
						<a href="/#about-us" class="nav-link px-2">About Us</a>
					</li>
				</ul>
			</footer>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
		></script>
	</body>
</html>
