.navbar {
	background-color: wheat;
}

.offcanvas {
	background-color: wheat;
}

.btn-gold {
	background-color: rgb(242, 237, 227);
}

.hero {
	height: 90vh;
	padding: 25vh 3vw;
}

.wheat {
	color: wheat;
}

.bg-hero {
	background-image: url(../images/img1.jpg);
}

.machine-learning-section {
	background-color: wheat;
	height: 60vh;
	padding: 10vh 0;
}

.machine-learning-icon {
	width: 8%;
	margin: 15px;
}

.question {
	padding: 10vh;
	background-color: black;
	color: wheat;
}
.about-us {
	padding-left: 0;
	padding-right: 0;
}

.person-section {
	padding: 12vh;
	background-color: wheat;
}

.paragraph-reversed {
	margin-left: 12vw;
}

.colored-section {
	color: wheat;
	background-color: black;
}

.profile-image {
	width: 50%;
	border-radius: 50%;
}

.form {
	height: auto;
	padding: 25vh 3vw;
}

@media (max-width: 768px) {
	.paragraph-reversed {
		margin-left: 0vw;
	}
	.person-section {
		text-align: center;
		padding: 2vh;
	}
}
