.hero {
	height: 90vh;
	padding: 25vh 3vw;
}

.wheat {
	color: wheat;
}

.bg-hero {
	background-image: url(../images/img1.jpg);
}

.machine-learning-section {
	height: 50vh;
	margin-top: 10vh;
	margin-bottom: 0vh;
}

.machine-learning-icon {
	width: 8%;
	margin: 15px;
}

.question {
	padding: 10vh;
}
.about-us {
	padding-left: 0;
	padding-right: 0;
}

.person-section {
	padding: 12vh;
}

.paragraph-reversed {
	margin-left: 12vw;
}

.profile-image {
	width: 50%;
	border-radius: 50%;
}

.form {
	height: auto;
	padding: 25vh 3vw;
}
